<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.architecture.todo_test.persistance.repository.ITaskRepository">

    <resultMap id="result" type="Task">
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="startDate" column="START_DATE"/>
    </resultMap>

    <insert id="save" parameterType="Task">
        INSERT INTO TASK (NAME, DESCRIPTION, START_DATE)
        VALUES(#{name}, #{description}, #{startDate})
    </insert>

    <select id="findAll" resultMap="result">
        SELECT * FROM TASK
    </select>

    <select id="findById" parameterType="Long" resultMap="result">
        SELECT * FROM TASK WHERE ID = #{id};
    </select>

    <update id="update" parameterType="Task">
        UPDATE TASK SET NAME = #{name}, DESCRIPTION = #{description}, START_DATE = #{startDate} WHERE ID = #{id};
    </update>

    <delete id="delete" parameterType="Long">
        DELETE from TASK WHERE ID = #{id}
    </delete>
</mapper>
