<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear tareas</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="bg-[#FF4F5A] w-full h-[10vh] pl-[10px] flex items-center justify-start sticky top-0">
    <i class="fa fa-address-book fa-lg text-white" aria-hidden="true"></i>
    <p class="pl-[10px] font-bold text-2xl text-white">Todo List</p>
</div>
<div class="flex flex-row">
    <div class="bg-[#F9F9F9] w-[15%]">
        <a href="tasks" class="cursor-pointer w-[80%] ml-auto mr-auto flex flex-row items-center mt-[15px]">
            <i class="fa fa-list pr-[10px] fa-lg" aria-hidden="true"></i>
            <p>Lista de tareas</p>
        </a>
        <a href="add" class="cursor-pointer w-[80%] ml-auto mr-auto flex flex-row items-center mt-[15px] text-[#FF4F5A]">
            <i class="fa fa-plus-circle pr-[10px] fa-lg" aria-hidden="true"></i>
            <p>Agregar tareas</p>
        </a>
    </div>
    <div class="h-[90vh] w-[85%] bg-white flex items-center justify-center">
        <div class="w-[90%] h-[90%]">
            <p class="text-2xl text-[#FF4F5A] font-bold mb-[3%]">Agregar actividades</p>
            <form action="task/add" method="POST" class="flex flex-col">
                <div class="w-full min-h-[150px] flex flex-col border-[1px] mb-[10px] stroke-[#E3E3E3] p-[10px] justify-around rounded-[8px]">
                    <div class="flex justify-between items-center">
                        <label for="name" class="w-[90%] min-h-[50px] border-r-[2px] flex items-center">
                            <input minlength="3" name="name" id="name" class="w-[90%] pl-[5px] text-xl" placeholder="Agrega un nombre" required/>
                        </label>
                        <label for="startDate">
                            <input name="startDate" type="date" id="startDate" class="pl-[10px] text-xl" placeholder="YYYY-MM-DD" required/>
                        </label>
                    </div>
                    <label for="description">
                        <textarea minlength="3" name="description" id="description" class="w-full pl-[5px] text-lg text-[#787878] border-t-[2px]" placeholder="Agrega una descripción" required></textarea>
                    </label>
                </div>
                <span th:if="${error != null}" th:text="${error}"></span>
                <button type="submit" class="mt-[10px] w-full h-[50px] font-bold text-xl rounded-[8px] text-white bg-[#FF4F5A]">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>
</body>
<script th:src="@{/utils/today.js}"></script>
</html>